@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li,input {
    font-family: "Fredoka One", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

p {
    margin-top: 50px;
    margin-left: 50px;
    font-family: "Fredoka One", sans-serif;
    font-weight: 500;
    font-size: 64px;
    text-decoration: none;
    color: #24242A;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #24242A;
    padding: 30px 10%;
    size: 100%;
}

.logo {
    cursor: pointer;
    
}

.nav__links {
    list-style: none;
    
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
    font-family: "Fredoka One", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.nav__links li a:hover {
    color: aqua;
    font-family: "Fredoka One", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

#searchbar {
    border: 2px solid grey;
    color: grey;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #24242A;
}
#searchbar:focus {
    border: 2px solid aqua;
    color: aqua;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #24242A;
    text-decoration: none;
    outline: none;
}

#open {
    cursor: pointer;
    color: grey;
}

#mail {
    margin-left: 50px;
    font-family: "Fredoka One", sans-serif;
    font-weight: 500;
    font-size: 64px;
    color: #24242A;
    text-decoration: none;
}

#mail:hover {
    margin-left: 50px;
    font-family: "Fredoka One", sans-serif;
    font-weight: 500;
    font-size: 64px;
    color: aqua;
    text-decoration: none;
}